<template>
 <div id="cont">
     
   
<div id="cont">

       <b-jumbotron id="jumbo">
  <b-row>
 
    <b-col cols="12">
      
      <b-form @submit="onSubmit">
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Emri i personit">
          <b-form-input class="w-25" id="name"  v-model.trim="personi.emri"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Qyteti">
          <b-form-input class="w-25" id="email"  v-model.trim="personi.qyteti"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Adresa">
          <b-form-input class="w-25" id="message"  v-model.trim="personi.adresa"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Datelindja">
          <b-form-input class="w-25" id="message"  v-model.trim="personi.datelindja"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Gjinia">
          <b-form-input class="w-25" id="message"  v-model.trim="personi.gjinia"></b-form-input>
        </b-form-group>

        <!-- Inputat e ri START  -->
        <div style="position:relative;top:-323px;left:700px">
          <b-form-group id="fieldsetHorizontal"
                  vertical
                  :label-cols="4"
                  breakpoint="md"
                  label="Emri I ri">
           <b-form-input style="position:relative;top:5px;left:-100px" class="w-25" id="message"  v-model="emriRi"></b-form-input>
          </b-form-group>
        </div>
        <div class="mb-3" style="position:relative;top:-360px;left:1133px;width:268px">
                <label style="position:relative;top:45px;left:-310px;width:268px;font-size:24px" for="">Qyteti i ri</label>
                <select class="form-control" v-model="qytetiRi">
                    <!-- <option disabled value="">Zgjedhni Qytetin</option> -->
                    <option>Prishtine</option>
                    <option>Gjilan</option>
                    <option>Mitrovice</option>
                    <option>Peje</option>
                    <option>Prizren</option>
                </select>
        </div>
        <div style="position:relative;top:-355px;left:700px">
          <b-form-group id="fieldsetHorizontal"
                  vertical
                  :label-cols="4"
                  breakpoint="md"
                  label="Adresa e re">
           <b-form-input style="position:relative;top:5px;left:-100px" class="w-25" id="message"  v-model="adresaRe"></b-form-input>
          </b-form-group>
        </div>
        <div class="dat" style="position:relative;top:-405px;left:1135px;width:1070px">
          <label style="position:relative;top:55px;left:-710px;width:268px;font-size:24px" for="">Datelindja e re</label>
          <input type="date" class="form-control mt-2 mb-3 w-25" v-model="datelindjaRe">
        </div>
        <div class="gjin" style="position:relative;top:-325px;left:635px;width:1070px">
            <label style="position:relative;top:-85px;left:-160px;width:268px;font-size:28px" for="">Gjinia e re</label>
            <label style="position:relative;left:-122px;top:-83px;font-size:30px;" class="mt-4" for="gjinia">Femer</label>
            <input style="position:relative;left:100px;top:-127px;font-size:30px;" class="ml-3" type="radio" name="picked" value="femer" v-model="gjiniaRe"><br>
            <label for="gjinia" style="position:relative;left:28px;top:-103px;font-size:30px;">Mashkull</label>
            <input style="position:relative;left:110px;top:-147px;font-size:30px;" class="ml-2" type="radio" name="picked" value="mashkull" v-model="gjiniaRe">
        </div> 
        <!-- Inputat e ri END  -->
        <!-- <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Gjinia">
          <b-form-input id="message"  v-model.trim="personi.gjinia"></b-form-input>
        </b-form-group> -->
        <div style="position:relative;top:-400px">
          <b-button class="w-25" type="submit" variant="primary">Modifiko</b-button>
        </div>
      </b-form>
    </b-col>
  </b-row>
</b-jumbotron>
</div>
<!-- <h1>{{ emriRi }}</h1>
<h1>{{ qytetiRi }}</h1>
<h1>{{ adresaRe }}</h1> -->
      </div>
</template>

<script>
/*eslint-disable*/


export default {
  name: 'Edit',
  data () {
    return {
      personat: [],
      personi: {},
      emriRi:'',
      qytetiRi:'',
      adresaRe:'',
      datelindjaRe:'',
      gjiniaRe:''
    }
  },
  created () {
    let data = JSON.parse(localStorage.getItem('personat-vue'));
    
    for (var i = 0; i < data.length; i++) {              
        if(data[i].ID === this.$route.params.id) {
            this.personi = data[i];
        }                
    }   
  },
  methods: {
    onSubmit (evt) {

      let data = JSON.parse(localStorage.getItem('personat-vue'));
      this.personat = data;

      if(this.emriRi){
        this.personat[this.$route.params.id - 1].emri = this.emriRi;
      }
      if(this.qytetiRi){
        this.personat[this.$route.params.id - 1].qyteti = this.qytetiRi;
      }
      if(this.adresaRe){
        this.personat[this.$route.params.id - 1].adresa = this.adresaRe;
      }
      if(this.datelindjaRe){
        this.personat[this.$route.params.id - 1].datelindja = this.datelindjaRe;
      }
      if(this.gjiniaRe){
        this.personat[this.$route.params.id - 1].gjinia = this.gjiniaRe;
      }

      localStorage.setItem('personat-vue', JSON.stringify(this.personat));

      this.$router.push({
          name: 'home',
      })   
    }
  }
}
</script>


<style>
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1em;
}
div#jumbo.jumbotron{
  height:600px;
}
</style>