<template>
    <div>
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Crudi i pare me Vue</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="mainNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">
                            <a class="text-white">Home</a>
                        </router-link>
                    </li>   
                    <!-- <li class="nav-item">
                        <router-link class="nav-link" to="/edit">
                            <a class="text-white">Edit</a>
                        </router-link>
                    </li>                  -->
                </ul>
            </div>
        </div>
    </nav>

    </div>
</template>

<script>
export default {
    name: 'Header',
    data(){
        
    }
}
</script>


<style scoped>
    header{
        display: flex;
        justify-content: space-between;
    }
</style>