<template>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- <input type="text" class="form-control my-3" v-model="emriRi" v-on:keyup.enter="shtoEmrin" placeholder="Sheno emrin"> -->
                <input type="text" class="form-control my-3" v-model="emriRi" placeholder="Sheno emrin">
                <input type="text" class="form-control my-3" v-model="adresa" placeholder="Sheno adresen">
                
                <small style="margin-left:-162.5px;"><strong>Data e lindjes:</strong></small>
                <input type="date" class="form-control mt-2 mb-3" v-model="datelindja">
                
                <select class="form-control" v-model="qyteti">
                    <option disabled value="">Zgjedhni Qytetin</option>
                    <option>Prishtine</option>
                    <option>Gjilan</option>
                    <option>Mitrovice</option>
                    <option>Peje</option>
                    <option>Prizren</option>
                </select>
                <div class="gjin" style="margin-left:-164px">
                    <label style="position:relative;left:-5px" class="mt-4" for="gjinia">Femer</label>
                    <input style="position:relative;left: 35px;top:-28px" class="ml-3" type="radio" name="picked" value="femer" v-model="gjinia"><br>
                    <label style="position:relative;top:-10px" for="gjinia">Mashkull</label>
                    <input style="position:relative;left: 43px;top:-40px" class="ml-2" type="radio" name="picked" value="mashkull" v-model="gjinia">
                </div>              
                <br>
                <!-- <span>Selected: {{ selected }}</span> -->
                <button class="btn btn-primary w-100 btn-lg" @click="shtoEmrin">Shto</button>
                <!-- <h5 class="mt-5">{{ emriRi }}</h5> -->
            </div>
            <div class="col-md-9">
                <b-table class="mt-3" id="table" stripped hover :items="personat" :fields="fields"  :per-page="perPage"
                    :current-page="currentPage" small>
                    <template #cell(actions)=row>
                        <b-btn class="" variant="info" @click.stop="ndrysho(row.item)">Ndrysho</b-btn>
                        <b-button class="ml-2" variant="danger"  @click.stop="fshije(row.item)">Fshije</b-button>
                    </template>
                </b-table> 
            </div>
            
        </div>
        <!-- <div class="container">
            <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
            ></b-pagination>
        </div> -->
    </div>

    
</template>


<script>
/*eslint-disabled*/


export default ({
   name: 'Home',
   data(){
       return{
           headingi: 'Pleurat',
           personat: [],
           numriID:0,
           emriRi: '',
           fshire: 0,
           fields: [
            { ID: { label: 'ID', sortable: true, 'class': 'text-center' } },
            { emri: { label: 'Emri Plote', sortable: true, 'class': 'text-center' } },
            { qyteti: { label: 'Qyteti', sortable: true, 'class': 'text-center' } },
            { adresa: { label: 'Adresa', sortable: true, 'class': 'text-center' } },
            { datelindja: { label: 'Datelindja', sortable: true , 'class': 'text-center'}},
            { gjinia: { label: 'Gjinia', sortable: true , 'class': 'text-center'}},
            { actions: {label:'Actions'}}            
            ],
            qyteti: '',
            datelindja:'',
            adresa:'',
            gjinia:'',
            // perPage: 4,
            // currentPage: 1,
       }
   },
   methods:{
       shtoEmrin: function(){
           let data = JSON.parse(localStorage.getItem('personat-vue'));
           if(data != null){
               if(data.length === 0){
               this.numriID += 1;
                   if(this.numriID < 0){
                      this.numriID = 1;
                   }
               }else{
                   let dataspc = data[data.length -1]; 
                   this.numriID = dataspc.ID + 1;           
               }
           }else{
               this.numriID += 1;
           }
           
           // this.numriID += 1;
           this.personat.push({
               emri: this.emriRi,
               ID: this.numriID,
               qyteti: this.qyteti,
               datelindja: this.datelindja,
               adresa: this.adresa,
               gjinia: this.gjinia,
            //    gjendja: false
           })
           console.log(this.personat);
           this.emriRi = '';
           localStorage.setItem('personat-vue', JSON.stringify(this.personat));
           for (var i = 0; i < data.length; i++) {              
                if(data[i + 1].ID - data[i].ID === 2) {
                    data[i+1].ID -= 1;
                }  
                if(data[i].ID === data[i + 1].ID) {
                    data[i+1].ID += 1;
                }            
            } 
       },
       ndrysho: function(obj){        
            this.$router.push({
                name: 'edit',
                params: { 
                    id: obj.ID,
                    emri: obj.emri,
                    qyteti: obj.qyteti,
                    adresa: obj.adresa,
                    datelindja: obj.datelindja,
                    gjinia: obj.gjinia
                }
            })   
           this.personat[obj.ID - 1].gjendja = !this.personat[obj.ID - 1].gjendja;
           localStorage.setItem('personat-vue', JSON.stringify(this.personat));
       },
       fshije: function(obj){
           this.fshire += 1;
           this.numriID -= 1;
           this.personat.splice(obj.ID - 1, 1);
           for(const objekti of this.personat){
               if(objekti.ID != 1){
                   objekti.ID -= 1;
               }
           }
            localStorage.setItem('personat-vue', JSON.stringify(this.personat));
           for (var i = 0; i < this.personat.length; i++) {
                console.log(this.personat[i]);
                if(this.personat[i].ID === this.personat[i+1].ID) {
                    this.personat[i+1].ID += 1;
                }             
            } 
                           
       }
   },
   created: function(){
       let data = JSON.parse(localStorage.getItem('personat-vue'));
       if(data === null){
           this.personat = [];
       }else{
           this.personat = data;
           for (var i = 0; i < data.length; i++) {              
                if(data[i + 1].ID - data[i].ID === 2) {
                    data[i+1].ID -= 1;
                }
                if(data[i].ID === data[i + 1].ID) {
                    data[i+1].ID += 1;
                } 
                if(data[i].ID === 0) {
                    data[i].ID += 1;
                }             
            } 
       }
   }

})
</script>
